<%= render partial: "sharedPartials/tab_text", locals: {text: "Posts"} %>

<div class='container'>
	<%= render partial: "sharedPartials/object_errors", 
    locals: {brokenObject: @error_object} %>
	<%= form_for @post do |form| %>
		<%= render partial: "post_form_fields", locals: {f: form} %>
		<%= form.submit "edit" %>
	<% end %>
</div>