<%= render partial: "sharedPartials/tab_text", locals: {text: "Courtyard"} %>

<div class="container">
  <ul>
    <li><%= link_to "game room", gameRoom_path %></li>
    <li><%= link_to "road", road_path %></li>
    <li><%= link_to "gallery", gallery_path %></li>
    <li><%= link_to "study", study_path %></li>
    
  </ul>
</div>